.img-height{
    height: 470px;
}
.border-length{
    border-width: 0.5px;
}
.cart-margin-left{
    margin-left: 500px;
}
.button-left-margin{
    margin-left: 485px;
}
.close-button{
    left: 950px;
}
.contact-img{
    height:496px ;
    width: 486px;
}
.delivery-input{
    width: 520px;
}
.product-img{
   width:891px; 

}